.slide-out-logo {
    width: 150px;
    height: 150px;
    padding: 10px;
}

.navbar-logo {
    height: 56px;
}

/*GERAL*/

#servicos {
    padding-top: 76px;
}

.card {
    cursor:pointer;
}


/*DESTAQUE*/

#destaque {
    width: 100%;
    height: calc(100% - 64px);
}

#destaque figure {
    width: 100%;
    margin: 0px;
}

#destaque figure img {
    width: 100%;
}

/*SERVICOS*/

.servicos-link:hover{
  color:#bf360c;
    cursor:pointer;
}

/*PRODUTOS*/

.card-title{
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}

/*LOCALIZAÇÃO*/

#localizacao{
    height: 700px;
    width:100%;
}

#localizacao iframe{
    height: 100%;
    width: 100%;
}

/*CONTATOS*/



input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
    border-bottom: 1px solid #bf360c !important;
    box-shadow: none !important;
}

input:not([type]).validate+label, input[type=text]:not(.browser-default).validate+label, input[type=password]:not(.browser-default).validate+label, input[type=email]:not(.browser-default).validate+label, input[type=url]:not(.browser-default).validate+label, input[type=time]:not(.browser-default).validate+label, input[type=date]:not(.browser-default).validate+label, input[type=datetime]:not(.browser-default).validate+label, input[type=datetime-local]:not(.browser-default).validate+label, input[type=tel]:not(.browser-default).validate+label, input[type=number]:not(.browser-default).validate+label, input[type=search]:not(.browser-default).validate+label, textarea.materialize-textarea.validate+label{
    color: #bf360c !important;
}
